# CS3033/CS6405 - Datamining - First Assignment

# Part 1 - Data Preparation

## 1.1. Load the dataset on Colab

In [1]:
# Importing pandas
import pandas as pd

# Reading in the file 
titanic = pd.read_csv("https://github.com/andvise/DataAnalyticsDatasets/blob/16ca8de1233c8643bfe85fcd1cd87c9ff2221312/titanic.csv?raw=True")

# Taking a look at the dataframe
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,1,0,3,Mr. Owen Harris Braund,male,22.0,1,0.0,7.2500
1,2,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0.0,71.2833
2,3,1,3,Miss. Laina Heikkinen,female,26.0,0,0.0,7.9250
3,4,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,NaN,53.1000
4,5,0,3,Mr. William Henry Allen,male,35.0,0,0.0,8.0500
...,...,...,...,...,...,...,...,...,...
882,883,0,2,Rev. Juozas Montvila,male,27.0,0,0.0,13.0000
883,884,1,1,Miss. Margaret Edith Graham,female,19.0,0,0.0,30.0000
884,885,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2.0,23.4500
885,886,1,1,Mr. Karl Howell Behr,male,26.0,0,0.0,30.0000
886,887,0,3,Mr. Patrick Dooley,male,32.0,0,0.0,7.7500


## 1.2. Display the attributes' name and their data type

In [2]:
# Most attributes are either of type 'int64' or 'float64' 
titanic.dtypes

PassengerId                  int64
Survived                     int64
Pclass                       int64
Name                        object
Sex                         object
Age                        float64
Siblings/Spouses Aboard      int64
Parents/Children Aboard    float64
Fare                       float64
dtype: object

## 1.3. Delete the columns PassengerId and Name

In [3]:
# Can remove these columns using the dataframe.drop() function from pandas
titanic = titanic.drop(columns = ['PassengerId', 'Name'])

titanic

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,male,22.0,1,0.0,7.2500
1,1,1,female,38.0,1,0.0,71.2833
2,1,3,female,26.0,0,0.0,7.9250
3,1,1,female,35.0,1,NaN,53.1000
4,0,3,male,35.0,0,0.0,8.0500
...,...,...,...,...,...,...,...
882,0,2,male,27.0,0,0.0,13.0000
883,1,1,female,19.0,0,0.0,30.0000
884,0,3,female,7.0,1,2.0,23.4500
885,1,1,male,26.0,0,0.0,30.0000
886,0,3,male,32.0,0,0.0,7.7500

## 1.4. Replace all missing values with 0

In [4]:
# First check and see what attributes contain missing data
titanic.isnull().sum()

Survived                   0
Pclass                     0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    1
Fare                       0
dtype: int64

In [5]:
# Missing values can be set to 0 using the dataframe.fillna() function
titanic = titanic.fillna(0)

# Now there is no missing data
titanic.isnull().sum()

Survived                   0
Pclass                     0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

## 1.5. Transform the Sex column into a numerical one

In [6]:
# Taking a look at the data in this attribute column:
titanic.Sex

0        male
1      female
2      female
3      female
4        male
        ...
882      male
883    female
884    female
885      male
886      male
Name: Sex, Length: 887, dtype: object

In [7]:
# The Sex column data can be transformed to numerical data using pd.factorize()
# [0] specifies first part of .factorize() output (numerical data)
titanic.Sex = pd.factorize(titanic.Sex)[0]

In [8]:
# Taking another look at the data in this attribute column
# male = 0 and female = 1
titanic.Sex

0      0
1      1
2      1
3      1
4      0
      ..
882    0
883    1
884    1
885    0
886    0
Name: Sex, Length: 887, dtype: int64


## 1.6. Use Survived as the target label and the rest of the data frame as features

Before dividing up the dataset, the data must first be shuffled randomly. This means that row indexes are no longer ordered from 0 to 887, but now have a random row order. This preprocessing step is performed in order to avoid potential biases that may have been introduced from the collection of data.

In [9]:
# Shuffling the data - frac = 1 ensures the whole df is shuffled.
titanic = titanic.sample(frac = 1)

# the order of rows has now been randomized
titanic

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
91,0,1,0,46.0,1,0.0,61.1750
656,0,1,0,58.0,0,2.0,113.2750
184,0,1,0,39.0,0,0.0,50.0000
44,0,3,0,30.0,0,0.0,8.0500
2,1,3,1,26.0,0,0.0,7.9250
...,...,...,...,...,...,...,...
60,1,1,1,38.0,0,0.0,80.0000
222,0,3,0,22.0,0,0.0,7.8958
569,1,1,0,36.0,0,0.0,26.3875
424,1,2,1,19.0,0,0.0,26.0000
106,1,3,0,29.0,0,0.0,7.7750

In [10]:
# Assigning Survived column as the target label
target_lab =  titanic.Survived

# 0 = not survived, 1 = survived
target_lab

91     0
656    0
184    0
44     0
2      1
      ..
60     1
222    0
569    1
424    1
106    1
Name: Survived, Length: 887, dtype: int64

In [11]:
# Assigning the columns from PClass onwards as the features data
features = titanic.loc[:,"Pclass":]

features

,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
91,1,0,46.0,1,0.0,61.1750
656,1,0,58.0,0,2.0,113.2750
184,1,0,39.0,0,0.0,50.0000
44,3,0,30.0,0,0.0,8.0500
2,3,1,26.0,0,0.0,7.9250
...,...,...,...,...,...,...
60,1,1,38.0,0,0.0,80.0000
222,3,0,22.0,0,0.0,7.8958
569,1,0,36.0,0,0.0,26.3875
424,2,1,19.0,0,0.0,26.0000
106,3,0,29.0,0,0.0,7.7750

## 1.7. Divide your dataset in 80% for training and 20% for test

Now the data can be split into training and test subsets.

80% of the feature and label data is assigned to training and 20% is assigned to testing.

In [12]:
# As 887 does not split evenly into 80/20 subsets, the cutoff value is rounded to the nearest whole value
# 709.6 -> 710
cutoff = round(len(titanic)*0.8) 

# ~80% of the data (710 rows)
train_features = features.iloc[:cutoff,]
train_labels = target_lab.iloc[:cutoff,]

# ~20% of data (177 rows)
test_features = features.iloc[cutoff:,]  
test_labels = target_lab.iloc[cutoff:,]

In [13]:
# Taking a look at the training features dataset (80% of original)
# Note that the indexes are still in the random order as before
train_features

,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
91,1,0,46.0,1,0.0,61.1750
656,1,0,58.0,0,2.0,113.2750
184,1,0,39.0,0,0.0,50.0000
44,3,0,30.0,0,0.0,8.0500
2,3,1,26.0,0,0.0,7.9250
...,...,...,...,...,...,...
438,3,0,20.0,0,0.0,9.5000
585,3,0,22.0,0,0.0,8.0500
580,1,0,36.0,0,0.0,40.1250
36,3,0,18.0,0,0.0,7.2292
730,2,0,23.0,0,0.0,13.0000

In [14]:
# Taking a look at the training features dataset (20% of original)
test_features

,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
405,2,0,3.00,1,1.0,18.7500
792,1,1,49.00,0,0.0,25.9292
303,1,0,0.92,1,2.0,151.5500
15,2,1,55.00,0,0.0,16.0000
430,3,0,17.00,0,0.0,7.1250
...,...,...,...,...,...,...
60,1,1,38.00,0,0.0,80.0000
222,3,0,22.00,0,0.0,7.8958
569,1,0,36.00,0,0.0,26.3875
424,2,1,19.00,0,0.0,26.0000
106,3,0,29.00,0,0.0,7.7750

## 1.8. Scale the columns using min-max scalers

In [15]:
# min_max_scaler function 
# Performs min-max normalization of df
def min_max_scaler(df):
    
    norm_df = df.copy()

    for col in range(len(norm_df.columns)):
        min_a = min(norm_df.iloc[:,col])  # min value of a specific column 
        max_a = max(norm_df.iloc[:,col])  # max value of a specific column

        for row in range(len(norm_df)):
            # min-max normalization of each data point in each column
            norm_df.iloc[row,col] = (norm_df.iloc[row,col] - min_a)/(max_a - min_a)
     
    return norm_df

In [ ]:
# Call this function on the training and testing feature data
sc_train_feat = min_max_scaler(train_features)
sc_test_feat = min_max_scaler(test_features)

In [17]:
# Min and max values of scaled training data is 0 and 1, respectively.
print(sc_train_feat.max())
print(sc_train_feat.min())

Pclass                     1.0
Sex                        1.0
Age                        1.0
Siblings/Spouses Aboard    1.0
Parents/Children Aboard    1.0
Fare                       1.0
dtype: float64
Pclass                     0.0
Sex                        0.0
Age                        0.0
Siblings/Spouses Aboard    0.0
Parents/Children Aboard    0.0
Fare                       0.0
dtype: float64

In [18]:
# Looking at the scaled training feature data as an example
# All values between 0 and 1
sc_train_feat

,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
91,0.0,0,0.572757,0.125,0.000000,0.119406
656,0.0,0,0.723549,0.000,0.333333,0.221098
184,0.0,0,0.484795,0.000,0.000000,0.097594
44,1.0,0,0.371701,0.000,0.000000,0.015713
2,1.0,1,0.321438,0.000,0.000000,0.015469
...,...,...,...,...,...,...
438,1.0,0,0.246042,0.000,0.000000,0.018543
585,1.0,0,0.271174,0.000,0.000000,0.015713
580,0.0,0,0.447097,0.000,0.000000,0.078319
36,1.0,0,0.220910,0.000,0.000000,0.014110
730,0.5,0,0.283740,0.000,0.000000,0.025374

## 1.9 Print the shape of the train and test set

In [19]:
# Training set:
# Features dataframe containing 710 rows for 6 feature columns  
# Series of 710 target labels
print(sc_train_feat.shape, train_labels.shape)

# Testing set:
# Features dataframe containing 177 rows of data for 6 features
# Series of 177 target labels
print(sc_test_feat.shape, test_labels.shape)

(710, 6) (710,)
(177, 6) (177,)

# Part 2 - k-NN implementation

NOTE: My observed results may differ to other test runs due to randomization of the data at the start.

## 2.1 Defining Functions

All functions for K-NN implementation will be defined here before being called upon in later sections of Part 2.

In [20]:
# euclid_calc function
# Returns a dictionary containing the Euclidian distances of all training data 
# points from a specific row of testing query data.

def euclid_calc(query_index, train_df, test_df):

    euclids = {}
    # the row of testing data we are aiming to predict
    query_row = test_df.iloc[query_index,:]

    # calculate the Euclidian distance of all training data points
    for row in range(len(train_df)):
        # sum the squared distances
        sqrd_distance = 0
        for col in range(len(train_df.columns)):
            # Euclidian calculation
            calc = (train_df.iloc[row,col] - query_row[col])**2
            sqrd_distance += calc

        # get the square root of the sum of squared distances
        euclids[row] = sqrd_distance**0.5

    return euclids

In [21]:
# index_dict function
# Returns a dictionary containing an enumerated version of the original randomized indexes
# e.g. if the first two rows of a df were indexes 122 and 450 after randomization, 
# the dictionary will be {0:122, 1:450....}
# Required for keeping track of what values the randnomized index numbers actually correspond to.

def index_dict(df):
    
    row_inds = {}
    for i in range(len(df.index)):
        row_inds[i] = df.index[i]
    
    return row_inds

In [22]:
# knn_fit function
# Computes the predicted results from a dictionary of Euclidian distances.
# Extracts k points with the smallest distance to the query point.
# Selects the most common class among the k points as the prediction value.
# Returns a dictionary containing the actual and predicted target label of each row.
# Default k set to 5, but can be changed.

def knn_fit(train_feat, test_feat, train_labels, test_labels, euclid_dists, k=5):
    
    # To keep track of train and test features indexing
    train_ind = index_dict(train_feat)
    test_ind = index_dict(test_feat)

    results = {}    
    for d in range(len(euclid_dists)):

        # In the results dictionary, assign the row number of the test data being predicted 
        # to another dictionary containg the actual test label for this specific row.
        results['Test row ' + str(test_ind[d])] = {'Actual':test_labels[test_ind[d]]}

        # k nearest neighbours found by sorting the dictionary 
        k_nearest = sorted(euclid_dists[d].values())[:k]
        
        # Store classes of the k nearest neighbours
        classes = []
        for key, value in euclid_dists[d].items():
            
            if value in k_nearest:
                # correct index of training row corresponding to k nearest value
                index = train_ind[key]
                # append 1 or 0 label to classes list
                classes.append(train_labels[index])
   
        # count classes in the list and assign prediction as most common label
        if classes.count(1) > classes.count(0):
            results['Test row ' + str(test_ind[d])]['Prediction'] = 1 
        else:
            results['Test row ' + str(test_ind[d])]['Prediction'] = 0
        
    return results

In [23]:
# evaluate_knn function
# Computes the accuracy of a particular K-NN model.
# Takes the K-NN results dictionary as input.

def evaluate_knn(result_dict):
    
    score = 0
    for d in result_dict.values():
        # if prediction correct
        if d['Actual'] == d['Prediction']:
            score +=1
    
    # correct predictions over total predictions
    accuracy = score/len(result_dict)
    
    return accuracy


# confusion_matrix function
# Generates confusion matrix from the K-NN results dictionary as input.  
# Confusion matrix/Table visualization code inspired from 
# https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html 
# https://www.statology.org/confusion-matrix-python/

def confusion_matrix(result_dict):
    
    actual = []
    predicted = []
    
    for d in result_dict.values():
        actual.append(d['Actual'])        # Actual test label
        predicted.append(d['Prediction']) # Predicted test label
      
    # Make each list into a series
    actual = pd.Series(actual, name='Actual')
    predicted = pd.Series(predicted, name='Predicted')

    # Use crosstab function to get contingency table/confusion matrix
    conf_mat = pd.crosstab(actual, predicted)
    
    # Formatting the confusion matrix
    conf_mat = conf_mat.style.background_gradient(cmap ='Blues')\
                .set_properties(**{'font-size': '35px'})
    
    return conf_mat

## 2.2 Euclidian Distances

For each of the rows in the testing dataset, the Euclidian distances are calculated between all training dataset rows and the testing data row being queried. Each dictionary of Euclidian distances for each query row is then stored in a new dictionary, reuslting in a dictioanry of dictionaries. 

This ***euclid_calc*** function was made separate to the ***knn_fit*** function as it takes some time (~30s) to compute. Once calculated, this euclidian distances dictionary can be accessed and used as input for other functions, alleviating the need for repeating the computation if a new k value was to be tested.

In [24]:
euclid_dists = {}

# Iterating through each row of the scaled testing data
for i in range(len(sc_test_feat)):
    euclid_dists[i] = euclid_calc(i, sc_train_feat, sc_test_feat)

C:\Users\conor\AppData\Local\Temp\ipykernel_20752\651777586.py:17: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  calc = (train_df.iloc[row,col] - query_row[col])**2


The first key of this new dictionary is the reference index* (0-177) of the testing row in question, with the value of each of these keys being the dictionary of Euclidian distances calculated for all 710 training rows. So the euclid_dists dictionary contains 177 keys, each of which contain a dictionary of 710 keys (training row index) with 710 values (Euclidian distances). An example subset of this dictionary can be seen below. This is the first dictionary of Euclidian distances i.e. the Euclidian distances between all training row data and the first row of testing data.

In [25]:
euclid_dists[0]

{0: 0.7676703903442695,
 1: 0.8920409925196864,
 2: 0.7172200489792645,
 3: 0.6492187409007891,
 4: 1.1789267578257463,
 5: 1.1512214753868275,
 6: 0.5979259132223799,
 7: 1.1514087059340439,
 8: 1.2116202320538965,
 9: 0.7478698953985591,
 10: 0.6186811250409844,
 11: 0.718454151317223,
 12: 0.7314202660496374,
 13: 0.5932183336469747,
 14: 0.5978139766026666,
 15: 0.4667851335696587,
 16: 1.347396778235987,
 17: 0.8281568338640459,
 18: 0.5607476353938214,
 19: 1.1583934469018868,
 20: 0.8824513059511043,
 21: 0.6697341648931932,
 22: 1.1692416719861858,
 23: 0.5806235341918573,
 24: 0.9155936677593701,
 25: 1.2009730497217288,
 26: 1.0198825195403842,
 27: 1.0745834889897843,
 28: 0.7938569912373719,
 29: 0.7309642390411866,
 30: 1.1604721949240526,
 31: 0.3450651010454138,
 32: 0.6174950944376515,
 33: 1.224933211243321,
 34: 1.08220827539334,
 35: 1.0501887092011504,
 36: 0.8929298079873467,
 37: 1.1256750613215707,
 38: 0.7987640505425359,
 39: 0.03818283863166163,
 40: 0.6697266646297458,
 41: 0.47758701345089755,
 42: 0.6303815321635309,
 43: 0.20725301980157174,
 44: 0.5377441940491929,
 45: 0.6243968279496704,
 46: 0.5935344663937697,
 47: 1.158305808661738,
 48: 0.6240929717886581,
 49: 0.6027881288003706,
 50: 1.1034978004447722,
 51: 0.6186707518822973,
 52: 0.41633201650870905,
 53: 1.2731675092735082,
 54: 0.638487065337719,
 55: 0.6303203408771393,
 56: 0.32914017720188504,
 57: 0.5887790142818662,
 58: 0.6015716000888971,
 59: 0.18580028631085568,
 60: 0.7823090292569396,
 61: 1.0130716698454434,
 62: 1.038399220750375,
 63: 1.269439995034412,
 64: 1.041685283336676,
 65: 0.63032693158403,
 66: 1.2590128181970313,
 67: 0.6556866970395613,
 68: 0.7155581568442367,
 69: 0.5887972274849989,
 70: 0.7838920561768027,
 71: 1.269618443404413,
 72: 1.1675403550347878,
 73: 1.2008873321556526,
 74: 1.1706193165131695,
 75: 0.44524677129950485,
 76: 0.6027528030013375,
 77: 0.9154667484119685,
 78: 0.597872084376371,
 79: 1.0179341555073247,
 80: 0.712576981650919,
 81: 1.192240104130776,
 82: 0.4897896164798131,
 83: 0.630391655259873,
 84: 0.7149740833238285,
 85: 1.067323271479546,
 86: 0.6491338580352075,
 87: 0.8613301480196092,
 88: 0.7693084770259232,
 89: 0.5932256599196131,
 90: 0.8470096945170007,
 91: 0.9253112763831501,
 92: 0.6363408592313586,
 93: 1.229578325000705,
 94: 0.9661824490720252,
 95: 1.231647341648152,
 96: 0.6064372937382351,
 97: 0.612873837996668,
 98: 0.5887864745683925,
 99: 0.6237072661116692,
 100: 1.1479497090578075,
 101: 0.6478379500587732,
 102: 0.6627243241941808,
 103: 0.5846261647455023,
 104: 0.6097611903667994,
 105: 0.7740507317289551,
 106: 1.2213760153516766,
 107: 1.2433156106598862,
 108: 1.167627464982667,
 109: 1.1583556243680242,
 110: 1.0094383237190943,
 111: 0.6027409928324826,
 112: 0.6240367547961398,
 113: 0.8095760239546885,
 114: 1.0340360275640406,
 115: 0.3834776896893636,
 116: 0.413893819968831,
 117: 0.5846273627592149,
 118: 0.7070000444525647,
 119: 1.146203820302154,
 120: 0.7076727834832447,
 121: 0.5888146856697967,
 122: 0.7155581568442367,
 123: 1.2617516433216143,
 124: 0.7270290773165292,
 125: 0.04277631328848464,
 126: 0.6626976483895122,
 127: 1.0990850442582394,
 128: 0.7647771433726054,
 129: 0.7004893944511918,
 130: 1.1676081721865237,
 131: 0.6243861382059472,
 132: 0.4559107277017861,
 133: 0.39335693054712784,
 134: 1.2866061101287705,
 135: 0.642767862769504,
 136: 1.0425495654145833,
 137: 0.669929286498584,
 138: 1.2033953956349497,
 139: 1.1627195206011898,
 140: 0.6302843931406827,
 141: 1.0294279273947267,
 142: 0.5769724852497438,
 143: 1.1999834268055758,
 144: 0.856298987925939,
 145: 0.6839217505942348,
 146: 0.649272253972181,
 147: 0.7893552764502896,
 148: 0.7914240839957241,
 149: 0.5888090177818711,
 150: 1.1158809008392478,
 151: 1.0522609842297306,
 152: 0.13750306594082295,
 153: 0.3639101737630909,
 154: 1.1690363530318373,
 155: 0.38338081258345347,
 156: 0.5355567449239889,
 157: 1.196865369850807,
 158: 1.2430719746353587,
 159: 1.172707616352604,
 160: 0.9971381601497719,
 161: 1.0609567422999515,
 162: 0.6131493241438416,
 163: 1.1562033488745602,
 164: 1.090359141263953,
 165: 0.5013257994550426,
 166: 1.1676265258924712,
 167: 1.1661519146418104,
 168: 1.1853407916465155,
 169: 0.45956228600469423,
 170: 1.3140412526292522,
 171: 1.547847655540579,
 172: 1.184560209168249,
 173: 0.6243472927343352,
 174: 0.33791602502588414,
 175: 1.1594084857745897,
 176: 0.6075248668319099,
 177: 1.0289481212557137,
 178: 1.1186184691997418,
 179: 1.0161910847867168,
 180: 1.1958808962313423,
 181: 0.6769791207436875,
 182: 0.7744300184802089,
 183: 0.7093497424324923,
 184: 0.6078403923212988,
 185: 1.1258377805447388,
 186: 0.5798940701071509,
 187: 1.172977683415965,
 188: 1.191301338617886,
 189: 0.5806235341918573,
 190: 0.7070433034505851,
 191: 0.8030776263993732,
 192: 0.6840354946305234,
 193: 0.6492284929022687,
 194: 1.3683939350889807,
 195: 1.0185875673495628,
 196: 1.185349129782353,
 197: 1.167607275906495,
 198: 1.1721079758088941,
 199: 0.6193900505846168,
 200: 0.6842535836776857,
 201: 0.629268711809938,
 202: 0.6119196348525856,
 203: 0.8274625987419088,
 204: 1.2042982754748284,
 205: 0.5751229498752422,
 206: 0.567126230374833,
 207: 0.8398060054856521,
 208: 0.6696349266336142,
 209: 1.1545230406070024,
 210: 1.1676081721865237,
 211: 0.6240392741164638,
 212: 1.1940763895108468,
 213: 0.31236630839869495,
 214: 0.8665203504325566,
 215: 0.8186704694715884,
 216: 0.6282667157398707,
 217: 1.178929242637989,
 218: 1.3626326979624934,
 219: 0.6664721192134755,
 220: 0.7220841180992386,
 221: 0.6078846008697475,
 222: 0.6369979151396916,
 223: 1.1959085802301581,
 224: 1.0457609749420451,
 225: 1.1791916332371069,
 226: 0.3106326340007782,
 227: 1.1872936245065122,
 228: 0.7393888732997078,
 229: 1.1178494300611295,
 230: 1.1602594357422986,
 231: 1.2049068965902765,
 232: 0.5795437336239043,
 233: 1.1944045147459312,
 234: 0.6367499856522776,
 235: 0.5806866606629588,
 236: 0.7308618297913038,
 237: 0.6364401044714911,
 238: 0.6364469332095565,
 239: 0.6877181407487081,
 240: 1.1429916610470643,
 241: 1.1328402352017928,
 242: 0.43831828313535026,
 243: 0.7827664077862544,
 244: 0.34517185685841445,
 245: 1.3217881957681596,
 246: 0.7831480533902544,
 247: 0.34517185685841445,
 248: 1.193944819481554,
 249: 1.3085505965176827,
 250: 0.6273378764046313,
 251: 1.0425323318829978,
 252: 1.1271356627748639,
 253: 0.595557852868621,
 254: 1.2108435714150705,
 255: 1.1618727423075645,
 256: 0.4036429762949529,
 257: 1.0710945805418057,
 258: 0.6027866156176012,
 259: 0.5768945431794957,
 260: 1.213249717152391,
 261: 1.2757119992123414,
 262: 0.8662172347532474,
 263: 0.6833794959968108,
 264: 0.6627261437458078,
 265: 0.6441243496442833,
 266: 1.1769615245336404,
 267: 1.1279842952127948,
 268: 1.1785965412635904,
 269: 0.5931284383489175,
 270: 1.0468072498328032,
 271: 0.662728744440808,
 272: 0.31055271959088776,
 273: 0.5766227137347667,
 274: 1.1894345207724766,
 275: 0.3639101737630909,
 276: 1.1604807221161797,
 277: 0.5978631189447344,
 278: 0.6263327914260096,
 279: 1.175909667254975,
 280: 0.5180174859059957,
 281: 0.6303596354066566,
 282: 1.2564181983184926,
 283: 1.1650986481993484,
 284: 0.6027519324283259,
 285: 0.5505534706472694,
 286: 0.8028761678300947,
 287: 0.6364373963523686,
 288: 0.5930916936508626,
 289: 0.5465762130009901,
 290: 0.5888075359657765,
 291: 0.9256175611755342,
 292: 0.5932633210075927,
 293: 1.2339485950049653,
 294: 0.506849182103586,
 295: 1.2201943798407606,
 296: 1.1211208366672507,
 297: 1.0811607446613696,
 298: 0.7393475068335753,
 299: 0.6364469332095565,
 300: 1.0842062754079316,
 301: 0.8177026974011532,
 302: 1.2201894589593383,
 303: 1.1581575497899264,
 304: 1.2496697450021503,
 305: 1.1461378261891504,
 306: 1.1653823451082401,
 307: 1.1514217031921383,
 308: 1.1081919307669352,
 309: 1.2130143357315908,
 310: 0.5932133954534718,
 311: 0.905267120227142,
 312: 1.0093271498381282,
 313: 0.6482609896312147,
 314: 0.7392317020516712,
 315: 1.1676081721865237,
 316: 1.211690463087661,
 317: 0.6400483192375526,
 318: 1.1553169688536225,
 319: 1.2106081791557388,
 320: 0.39437139532287335,
 321: 0.8491753537363261,
 322: 1.15282607692855,
 323: 0.6696814716267031,
 324: 0.5895529752470329,
 325: 1.1399277112700898,
 326: 0.5932047553852275,
 327: 1.24935785172014,
 328: 0.5932183336469747,
 329: 1.1881272629608701,
 330: 0.5754648406139444,
 331: 1.1651030171389127,
 332: 0.5359712412098052,
 333: 1.1870749797777467,
 334: 1.246584731337885,
 335: 0.6923169618114804,
 336: 1.0186376327538538,
 337: 0.6078375567809295,
 338: 1.1258377805447388,
 339: 0.35463016215529336,
 340: 0.6427481249792827,
 341: 0.5178383518707284,
 342: 0.7278122142528262,
 343: 1.261491470467876,
 344: 1.436129549629765,
 345: 0.5978545460733204,
 346: 0.6916735068536829,
 347: 0.4137327051730709,
 348: 0.6131389983019385,
 349: 0.5932766818727401,
 350: 0.6842584537574681,
 351: 0.6842471389028878,
 352: 1.0745908411765697,
 353: 1.1149920779122195,
 354: 0.5106233938511876,
 355: 1.236936422556655,
 356: 0.6992860081234857,
 357: 1.0377794548223511,
 358: 0.6263512305377648,
 359: 0.6131560994189938,
 360: 0.6627165903648738,
 361: 0.6026479005173772,
 362: 0.4559107277017861,
 363: 1.1443113072327709,
 364: 0.9455630035178898,
 365: 1.2253021633313426,
 366: 1.1651059074318282,
 367: 0.6128461438352044,
 368: 0.6909592979802508,
 369: 1.1675213548051304,
 370: 1.1279436586185025,
 371: 0.7394027758439993,
 372: 0.5811281065567461,
 373: 0.8004620290783562,
 374: 1.1820750062487226,
 375: 1.1535504473689533,
 376: 0.5532720781491516,
 377: 0.7912847626369216,
 378: 0.38338081258345347,
 379: 0.6361273499806095,
 380: 1.1655111008019137,
 381: 0.6186873670934351,
 382: 1.2905498791761936,
 383: 1.1583649272104246,
 384: 0.6899995776700999,
 385: 0.6768787290501533,
 386: 1.2706245534134368,
 387: 0.5896472197481767,
 388: 0.618729485492281,
 389: 0.5444015257997423,
 390: 0.03621566954165542,
 391: 0.4363768615725419,
 392: 0.6427513776072951,
 393: 0.3106326340007782,
 394: 1.086516758226975,
 395: 0.6078375567809295,
 396: 1.1331575280070927,
 397: 1.1702410365851363,
 398: 1.147883815319409,
 399: 0.5887864745683925,
 400: 0.5887972274849989,
 401: 0.624422968309422,
 402: 0.5975120324745818,
 403: 0.6236861015589771,
 404: 1.1650986481993484,
 405: 1.2751847505168061,
 406: 1.279633749368343,
 407: 0.38348746411171375,
 408: 0.6027866156176012,
 409: 1.1413914805435488,
 410: 1.000674567262678,
 411: 0.6364355016419388,
 412: 0.5886541771165504,
 413: 0.6077526598383939,
 414: 0.37373944166400386,
 415: 0.6767277283048887,
 416: 0.578881329528382,
 417: 0.8187952938120044,
 418: 0.8188104389564776,
 419: 0.655889833309418,
 420: 0.34517185685841445,
 421: 0.6505106731859975,
 422: 0.6078375567809295,
 423: 0.6187152000408926,
 424: 0.5239214693046896,
 425: 0.5601591479813681,
 426: 0.42219049842864353,
 427: 1.1853546925208405,
 428: 0.5845877234688288,
 429: 0.7649408267164405,
 430: 1.0365063934138075,
 431: 0.7649709286465176,
 432: 0.6427281314209151,
 433: 0.8010118283869143,
 434: 0.6427497494430525,
 435: 0.8757260543930038,
 436: 0.597876459494525,
 437: 0.5630564646858903,
 438: 1.1545195694394645,
 439: 1.2248743119788352,
 440: 0.5978680187330494,
 441: 0.6027478851040061,
 442: 1.0217090658301893,
 443: 0.7477761563002214,
 444: 0.5107683884734185,
 445: 1.1650986481993484,
 446: 0.618729485492281,
 447: 0.5444015257997423,
 448: 1.263439206776344,
 449: 0.6481798990716986,
 450: 1.1891686937144998,
 451: 1.1702544809767115,
 452: 0.5888075359657765,
 453: 1.177893496248534,
 454: 0.6489683224926062,
 455: 1.074213680327813,
 456: 0.4137327051730709,
 457: 1.1554710318502681,
 458: 1.0745834889897843,
 459: 0.6697266646297458,
 460: 0.6627843431867991,
 461: 0.5978697565055089,
 462: 0.6598657128227775,
 463: 0.30241152180868297,
 464: 0.6059195866975302,
 465: 0.66211339181643,
 466: 1.288855791702985,
 467: 0.6132085866008282,
 468: 0.7562875932038797,
 469: 0.5299824187382552,
 470: 0.3453649571766794,
 471: 0.6492284929022687,
 472: 1.11861377865036,
 473: 0.5769921641614466,
 474: 1.2327759033658994,
 475: 1.1959109025155963,
 476: 1.2440389107256196,
 477: 0.6130491198505806,
 478: 1.071034168612614,
 479: 0.6243962780503111,
 480: 0.6303203408771393,
 481: 1.0608701387380302,
 482: 0.6492725379509853,
 483: 0.5037169436396091,
 484: 1.1611381048423812,
 485: 0.6132093842711853,
 486: 0.44741166586514414,
 487: 0.7648449314959708,
 488: 1.222698654469201,
 489: 0.7825348585227914,
 490: 1.3682855309563022,
 491: 1.1546576793026286,
 492: 1.2125592838350676,
 493: 1.155912699960786,
 494: 0.3441133212590227,
 495: 0.6364439237139806,
 496: 0.6916978614145896,
 497: 0.611759069525726,
 498: 1.1358199422001165,
 499: 1.0636357692592258,
 500: 0.7028388698468143,
 501: 1.1518181205936866,
 502: 0.7653242300119032,
 503: 0.5972135876282499,
 504: 0.9854519381995488,
 505: 0.6558993302888108,
 506: 1.1507507614946584,
 507: 0.6027957503672511,
 508: 0.6026690859495346,
 509: 0.5619817103435724,
 510: 0.4137327051730709,
 511: 0.4347601635573677,
 512: 1.0536026291083695,
 513: 0.7478480209475913,
 514: 1.2067622287211972,
 515: 0.5807251349285614,
 516: 0.6027671643457772,
 517: 1.1604669530150322,
 518: 0.6768787290501533,
 519: 0.5932047553852275,
 520: 0.6842053453135435,
 521: 1.2537309657050202,
 522: 1.1923172805607924,
 523: 0.6364274483524707,
 524: 0.7230451690183414,
 525: 1.1621270712636182,
 526: 1.1692813012279055,
 527: 0.6709116201544896,
 528: 0.5846228884893515,
 529: 0.6922228969346321,
 530: 1.1380671154209643,
 531: 1.2590158151360438,
 532: 0.34187703286507237,
 533: 0.5846643797692251,
 534: 0.5901575227693032,
 535: 0.6027304886774367,
 536: 0.5978717912598459,
 537: 0.6467859052860823,
 538: 1.1993898424277407,
 539: 0.7256381904809932,
 540: 0.7394085208949611,
 541: 0.7848864777446755,
 542: 1.2092747154279455,
 543: 0.4668483830622799,
 544: 0.649118929218931,
 545: 1.3067486256055088,
 546: 1.2403664224011857,
 547: 0.8660371930209527,
 548: 0.6027884346782455,
 549: 0.35566927710603624,
 550: 1.165102261471619,
 551: 1.042590675561637,
 552: 1.1627868741152303,
 553: 0.5846049527070587,
 554: 0.5044139257517718,
 555: 1.1743537084300286,
 556: 0.8955230950652925,
 557: 0.7692149654039132,
 558: 0.8313167177085394,
 559: 0.6027510628416631,
 560: 0.6131389983019385,
 561: 1.173010429469415,
 562: 0.18783234435518664,
 563: 0.6362668476610903,
 564: 0.6799833868085549,
 565: 0.7824301780686108,
 566: 0.37003155385194375,
 567: 1.1081919307669352,
 568: 1.1450266758109686,
 569: 0.639236504832859,
 570: 0.7313234770414094,
 571: 0.30260391122042685,
 572: 0.32914017720188504,
 573: 0.649272253972181,
 574: 1.0990243817284364,
 575: 0.58462437470402,
 576: 1.11890163126266,
 577: 0.6991325159364528,
 578: 0.768684207089094,
 579: 1.082222176448961,
 580: 0.6427864238152284,
 581: 0.6841960918452255,
 582: 1.3624996711139679,
 583: 0.5978894342038031,
 584: 0.584662819679858,
 585: 1.125629507751538,
 586: 1.1385837787765498,
 587: 0.5749904076557053,
 588: 0.7562943701812851,
 589: 1.0396194406897363,
 590: 0.6358478347147379,
 591: 1.0578805755954797,
 592: 1.232376814122432,
 593: 0.6364373963523686,
 594: 0.6244043228166988,
 595: 0.6027304886774367,
 596: 0.6627243241941808,
 597: 0.393526387537128,
 598: 1.1528075642712061,
 599: 1.1527965154834852,
 600: 1.1537160058688283,
 601: 1.1854266992243205,
 602: 0.7311578413861073,
 603: 1.176555756276362,
 604: 0.5768769720192797,
 605: 0.5887972274849989,
 606: 0.5769271249373394,
 607: 0.6365339119037683,
 608: 0.6078375567809295,
 609: 0.6210677504958688,
 610: 0.6396109947936093,
 611: 0.636924327884193,
 612: 0.6806221049006991,
 613: 0.6915054905364606,
 614: 0.7786067521266786,
 615: 0.6305277516310852,
 616: 0.6499139724030852,
 617: 1.0772865591608918,
 618: 1.3585124021935648,
 619: 0.6664721192134755,
 620: 0.7149339330121062,
 621: 0.6768787290501533,
 622: 1.2914024388632348,
 623: 0.7229602028556131,
 624: 0.8749215582132052,
 625: 0.9558005156023919,
 626: 1.154522433957296,
 627: 0.5317215375070931,
 628: 0.6427419342940119,
 629: 1.1725415497226535,
 630: 0.8565764360185195,
 631: 0.6187169722706575,
 632: 1.1702426540591406,
 633: 0.5846646951288661,
 634: 0.6664721192134755,
 635: 1.1036045836380783,
 636: 0.6364771137718178,
 637: 0.5932154282138933,
 638: 0.7070946965840232,
 639: 0.905286814373624,
 640: 0.7189241400721597,
 641: 0.6105134252731099,
 642: 1.168883449493044,
 643: 1.3469105938212194,
 644: 0.7298442336804463,
 645: 1.1518148006085598,
 646: 1.0924776944564238,
 647: 0.5712038749973319,
 648: 1.043582861733011,
 649: 0.3413040452891474,
 650: 0.635048684922458,
 651: 1.1644508809876837,
 652: 1.1633129570677172,
 653: 1.1921404292496536,
 654: 1.0091917705799345,
 655: 0.04483826686906014,
 656: 0.9389108361824041,
 657: 0.3933302949539239,
 658: 0.6840467063822648,
 659: 0.6719351378256438,
 660: 1.1560063930114912,
 661: 0.6243962780503111,
 662: 1.1515501453454928,
 663: 1.1876263863115186,
 664: 1.2035555428114448,
 665: 0.7229997561923461,
 666: 0.7228618147247853,
 667: 0.5999208297184507,
 668: 0.722951445433014,
 669: 0.6059195866975302,
 670: 0.5978288782573131,
 671: 0.9456192339043948,
 672: 0.7146993688960628,
 673: 0.6294058690706089,
 674: 0.597873537655732,
 675: 0.6491204691357398,
 676: 1.1582871423916552,
 677: 1.2611370742885346,
 678: 0.534243682535291,
 679: 1.358718249432798,
 680: 0.6027409928324826,
 681: 0.6055436330371788,
 682: 0.6598815900144733,
 683: 0.7647771433726054,
 684: 0.6303203408771393,
 685: 1.3675751752561787,
 686: 0.43831828313535026,
 687: 1.3057728809655575,
 688: 0.28761149039433537,
 689: 0.7393888732997078,
 690: 1.297377337508304,
 691: 0.5979111307267292,
 692: 1.2224362820839878,
 693: 1.1721022226218607,
 694: 0.649272253972181,
 695: 1.204728812564379,
 696: 0.5106956585202093,
 697: 1.1535784798151034,
 698: 0.38386187929278465,
 699: 0.3025343278951766,
 700: 0.6627261437458078,
 701: 1.2200450133152057,
 702: 1.1676081721865237,
 703: 1.1996638192197195,
 704: 1.4649665405112418,
 705: 0.5931118561641763,
 706: 0.6027304886774367,
 707: 0.6926067097112595,
 708: 0.5846643797692251,
 709: 0.34517185685841445}

#### Indexing
To take a closer look at an example of the reference indexing, we can call the ***index_dict*** function on the scaled testing feature data. Each key is ordered from 0-177, but the actual true row index of the dataset at each key index is different. The actual true row index of the randomized data corresponds to the values of these 177 keys. This is why I refer to it as a 'reference'. This can be seen below:

In [26]:
# Take note of the indexes of the testing data
sc_test_feat

,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
405,0.5,0,0.031961,0.125,0.2,0.036598
792,0.0,1,0.738783,0.000,0.0,0.050610
303,0.0,0,0.000000,0.125,0.4,0.295806
15,0.5,1,0.830977,0.000,0.0,0.031230
430,1.0,0,0.247081,0.000,0.0,0.013907
...,...,...,...,...,...,...
60,0.0,1,0.569760,0.000,0.0,0.156150
222,1.0,0,0.323909,0.000,0.0,0.015412
569,0.0,0,0.539029,0.000,0.0,0.051505
424,0.5,1,0.277812,0.000,0.0,0.050749
106,1.0,0,0.431469,0.000,0.0,0.015176

In [27]:
# Keys correspond to the ordered number of rows in the dataset.
# Their associated values correspond to the actual true indexes seen above.
# This structure allows the true indexing values to be accessed easily within the for loops of functions

test_inds = index_dict(sc_test_feat)
test_inds

{0: 405,
 1: 792,
 2: 303,
 3: 15,
 4: 430,
 5: 673,
 6: 803,
 7: 363,
 8: 445,
 9: 710,
 10: 336,
 11: 341,
 12: 865,
 13: 787,
 14: 776,
 15: 163,
 16: 554,
 17: 800,
 18: 328,
 19: 156,
 20: 592,
 21: 251,
 22: 231,
 23: 433,
 24: 3,
 25: 89,
 26: 143,
 27: 364,
 28: 255,
 29: 48,
 30: 745,
 31: 346,
 32: 530,
 33: 764,
 34: 356,
 35: 699,
 36: 58,
 37: 693,
 38: 688,
 39: 493,
 40: 815,
 41: 283,
 42: 659,
 43: 526,
 44: 635,
 45: 37,
 46: 826,
 47: 11,
 48: 199,
 49: 647,
 50: 628,
 51: 331,
 52: 46,
 53: 71,
 54: 183,
 55: 263,
 56: 817,
 57: 168,
 58: 278,
 59: 419,
 60: 721,
 61: 506,
 62: 683,
 63: 40,
 64: 80,
 65: 33,
 66: 450,
 67: 132,
 68: 695,
 69: 120,
 70: 261,
 71: 31,
 72: 718,
 73: 681,
 74: 398,
 75: 833,
 76: 886,
 77: 114,
 78: 472,
 79: 846,
 80: 437,
 81: 503,
 82: 420,
 83: 864,
 84: 788,
 85: 373,
 86: 246,
 87: 259,
 88: 485,
 89: 842,
 90: 332,
 91: 860,
 92: 784,
 93: 142,
 94: 870,
 95: 527,
 96: 126,
 97: 759,
 98: 816,
 99: 733,
 100: 544,
 101: 417,
 102: 480,
 103: 240,
 104: 92,
 105: 557,
 106: 667,
 107: 547,
 108: 622,
 109: 863,
 110: 277,
 111: 634,
 112: 786,
 113: 377,
 114: 742,
 115: 72,
 116: 571,
 117: 545,
 118: 111,
 119: 308,
 120: 565,
 121: 732,
 122: 0,
 123: 845,
 124: 349,
 125: 619,
 126: 497,
 127: 42,
 128: 821,
 129: 670,
 130: 484,
 131: 26,
 132: 100,
 133: 810,
 134: 27,
 135: 481,
 136: 157,
 137: 791,
 138: 579,
 139: 383,
 140: 402,
 141: 455,
 142: 511,
 143: 572,
 144: 611,
 145: 633,
 146: 850,
 147: 98,
 148: 648,
 149: 117,
 150: 805,
 151: 705,
 152: 680,
 153: 686,
 154: 65,
 155: 589,
 156: 290,
 157: 152,
 158: 41,
 159: 76,
 160: 198,
 161: 591,
 162: 546,
 163: 436,
 164: 139,
 165: 429,
 166: 190,
 167: 181,
 168: 367,
 169: 362,
 170: 515,
 171: 179,
 172: 60,
 173: 222,
 174: 569,
 175: 424,
 176: 106}

## 2.3 K-NN Predictions

Extracting the results of the K-NN model using the ***knn_fit*** function previously defined:

In [28]:
knn_results = knn_fit(sc_train_feat, sc_test_feat, train_labels, test_labels, euclid_dists, k=5)

The results are a dictionary object containing the actual target label and the predicted target label for each row of the testing data. Note that in Google Colab, the dictionary keys (strings here) are **ordered** as default. All row indexes do correspond to the true row index from the randomized test feature data, but they just appear ordered here.

(In Jupyter notebook the keys will appear as they are added and will not be ordered, meaning the order of keys would correspond direclty to the order of rows in the randomized data, i.e. the first row in the dictionary would be 'Test Row ...[first true index of feature data ]')

In [29]:
knn_results  # dictionaries odered by default

{'Test row 405': {'Actual': 1, 'Prediction': 1},
 'Test row 792': {'Actual': 1, 'Prediction': 1},
 'Test row 303': {'Actual': 1, 'Prediction': 1},
 'Test row 15': {'Actual': 1, 'Prediction': 1},
 'Test row 430': {'Actual': 0, 'Prediction': 0},
 'Test row 673': {'Actual': 0, 'Prediction': 1},
 'Test row 803': {'Actual': 0, 'Prediction': 0},
 'Test row 363': {'Actual': 0, 'Prediction': 0},
 'Test row 445': {'Actual': 1, 'Prediction': 1},
 'Test row 710': {'Actual': 0, 'Prediction': 0},
 'Test row 336': {'Actual': 1, 'Prediction': 0},
 'Test row 341': {'Actual': 0, 'Prediction': 0},
 'Test row 865': {'Actual': 1, 'Prediction': 1},
 'Test row 787': {'Actual': 0, 'Prediction': 0},
 'Test row 776': {'Actual': 1, 'Prediction': 1},
 'Test row 163': {'Actual': 0, 'Prediction': 0},
 'Test row 554': {'Actual': 0, 'Prediction': 0},
 'Test row 800': {'Actual': 1, 'Prediction': 0},
 'Test row 328': {'Actual': 1, 'Prediction': 1},
 'Test row 156': {'Actual': 0, 'Prediction': 0},
 'Test row 592': {'Actual': 0, 'Prediction': 0},
 'Test row 251': {'Actual': 0, 'Prediction': 0},
 'Test row 231': {'Actual': 0, 'Prediction': 0},
 'Test row 433': {'Actual': 0, 'Prediction': 1},
 'Test row 3': {'Actual': 1, 'Prediction': 1},
 'Test row 89': {'Actual': 0, 'Prediction': 0},
 'Test row 143': {'Actual': 0, 'Prediction': 0},
 'Test row 364': {'Actual': 1, 'Prediction': 1},
 'Test row 255': {'Actual': 1, 'Prediction': 1},
 'Test row 48': {'Actual': 0, 'Prediction': 0},
 'Test row 745': {'Actual': 0, 'Prediction': 0},
 'Test row 346': {'Actual': 1, 'Prediction': 1},
 'Test row 530': {'Actual': 1, 'Prediction': 1},
 'Test row 764': {'Actual': 0, 'Prediction': 0},
 'Test row 356': {'Actual': 1, 'Prediction': 1},
 'Test row 699': {'Actual': 0, 'Prediction': 1},
 'Test row 58': {'Actual': 0, 'Prediction': 0},
 'Test row 693': {'Actual': 0, 'Prediction': 0},
 'Test row 688': {'Actual': 1, 'Prediction': 1},
 'Test row 493': {'Actual': 1, 'Prediction': 1},
 'Test row 815': {'Actual': 0, 'Prediction': 0},
 'Test row 283': {'Actual': 0, 'Prediction': 0},
 'Test row 659': {'Actual': 0, 'Prediction': 0},
 'Test row 526': {'Actual': 0, 'Prediction': 0},
 'Test row 635': {'Actual': 0, 'Prediction': 0},
 'Test row 37': {'Actual': 0, 'Prediction': 0},
 'Test row 826': {'Actual': 1, 'Prediction': 0},
 'Test row 11': {'Actual': 1, 'Prediction': 1},
 'Test row 199': {'Actual': 0, 'Prediction': 0},
 'Test row 647': {'Actual': 0, 'Prediction': 0},
 'Test row 628': {'Actual': 0, 'Prediction': 0},
 'Test row 331': {'Actual': 0, 'Prediction': 0},
 'Test row 46': {'Actual': 1, 'Prediction': 1},
 'Test row 71': {'Actual': 0, 'Prediction': 0},
 'Test row 183': {'Actual': 1, 'Prediction': 1},
 'Test row 263': {'Actual': 0, 'Prediction': 0},
 'Test row 817': {'Actual': 1, 'Prediction': 0},
 'Test row 168': {'Actual': 0, 'Prediction': 1},
 'Test row 278': {'Actual': 0, 'Prediction': 0},
 'Test row 419': {'Actual': 0, 'Prediction': 0},
 'Test row 721': {'Actual': 0, 'Prediction': 0},
 'Test row 506': {'Actual': 1, 'Prediction': 1},
 'Test row 683': {'Actual': 0, 'Prediction': 0},
 'Test row 40': {'Actual': 0, 'Prediction': 0},
 'Test row 80': {'Actual': 1, 'Prediction': 0},
 'Test row 33': {'Actual': 0, 'Prediction': 0},
 'Test row 450': {'Actual': 1, 'Prediction': 1},
 'Test row 132': {'Actual': 1, 'Prediction': 1},
 'Test row 695': {'Actual': 0, 'Prediction': 0},
 'Test row 120': {'Actual': 0, 'Prediction': 0},
 'Test row 261': {'Actual': 0, 'Prediction': 1},
 'Test row 31': {'Actual': 1, 'Prediction': 1},
 'Test row 718': {'Actual': 0, 'Prediction': 0},
 'Test row 681': {'Actual': 0, 'Prediction': 0},
 'Test row 398': {'Actual': 1, 'Prediction': 0},
 'Test row 833': {'Actual': 0, 'Prediction': 0},
 'Test row 886': {'Actual': 0, 'Prediction': 0},
 'Test row 114': {'Actual': 0, 'Prediction': 0},
 'Test row 472': {'Actual': 0, 'Prediction': 0},
 'Test row 846': {'Actual': 0, 'Prediction': 0},
 'Test row 437': {'Actual': 1, 'Prediction': 1},
 'Test row 503': {'Actual': 1, 'Prediction': 1},
 'Test row 420': {'Actual': 0, 'Prediction': 0},
 'Test row 864': {'Actual': 0, 'Prediction': 0},
 'Test row 788': {'Actual': 0, 'Prediction': 0},
 'Test row 373': {'Actual': 1, 'Prediction': 1},
 'Test row 246': {'Actual': 1, 'Prediction': 1},
 'Test row 259': {'Actual': 1, 'Prediction': 0},
 'Test row 485': {'Actual': 0, 'Prediction': 0},
 'Test row 842': {'Actual': 0, 'Prediction': 0},
 'Test row 332': {'Actual': 1, 'Prediction': 1},
 'Test row 860': {'Actual': 0, 'Prediction': 0},
 'Test row 784': {'Actual': 1, 'Prediction': 1},
 'Test row 142': {'Actual': 0, 'Prediction': 0},
 'Test row 870': {'Actual': 1, 'Prediction': 1},
 'Test row 527': {'Actual': 1, 'Prediction': 1},
 'Test row 126': {'Actual': 1, 'Prediction': 0},
 'Test row 759': {'Actual': 1, 'Prediction': 1},
 'Test row 816': {'Actual': 1, 'Prediction': 1},
 'Test row 733': {'Actual': 1, 'Prediction': 0},
 'Test row 544': {'Actual': 1, 'Prediction': 0},
 'Test row 417': {'Actual': 0, 'Prediction': 1},
 'Test row 480': {'Actual': 1, 'Prediction': 0},
 'Test row 240': {'Actual': 1, 'Prediction': 0},
 'Test row 92': {'Actual': 0, 'Prediction': 0},
 'Test row 557': {'Actual': 0, 'Prediction': 0},
 'Test row 667': {'Actual': 1, 'Prediction': 1},
 'Test row 547': {'Actual': 1, 'Prediction': 1},
 'Test row 622': {'Actual': 0, 'Prediction': 0},
 'Test row 863': {'Actual': 0, 'Prediction': 0},
 'Test row 277': {'Actual': 1, 'Prediction': 0},
 'Test row 634': {'Actual': 0, 'Prediction': 0},
 'Test row 786': {'Actual': 0, 'Prediction': 0},
 'Test row 377': {'Actual': 0, 'Prediction': 0},
 'Test row 742': {'Actual': 0, 'Prediction': 0},
 'Test row 72': {'Actual': 0, 'Prediction': 0},
 'Test row 571': {'Actual': 0, 'Prediction': 0},
 'Test row 545': {'Actual': 0, 'Prediction': 0},
 'Test row 111': {'Actual': 0, 'Prediction': 0},
 'Test row 308': {'Actual': 1, 'Prediction': 1},
 'Test row 565': {'Actual': 0, 'Prediction': 0},
 'Test row 732': {'Actual': 0, 'Prediction': 0},
 'Test row 0': {'Actual': 0, 'Prediction': 0},
 'Test row 845': {'Actual': 1, 'Prediction': 1},
 'Test row 349': {'Actual': 0, 'Prediction': 1},
 'Test row 619': {'Actual': 1, 'Prediction': 0},
 'Test row 497': {'Actual': 0, 'Prediction': 0},
 'Test row 42': {'Actual': 1, 'Prediction': 1},
 'Test row 821': {'Actual': 0, 'Prediction': 0},
 'Test row 670': {'Actual': 1, 'Prediction': 0},
 'Test row 484': {'Actual': 0, 'Prediction': 0},
 'Test row 26': {'Actual': 0, 'Prediction': 0},
 'Test row 100': {'Actual': 0, 'Prediction': 0},
 'Test row 810': {'Actual': 0, 'Prediction': 0},
 'Test row 27': {'Actual': 0, 'Prediction': 0},
 'Test row 481': {'Actual': 1, 'Prediction': 0},
 'Test row 157': {'Actual': 0, 'Prediction': 0},
 'Test row 791': {'Actual': 0, 'Prediction': 0},
 'Test row 579': {'Actual': 0, 'Prediction': 0},
 'Test row 383': {'Actual': 0, 'Prediction': 0},
 'Test row 402': {'Actual': 0, 'Prediction': 1},
 'Test row 455': {'Actual': 1, 'Prediction': 1},
 'Test row 511': {'Actual': 0, 'Prediction': 0},
 'Test row 572': {'Actual': 0, 'Prediction': 0},
 'Test row 611': {'Actual': 0, 'Prediction': 0},
 'Test row 633': {'Actual': 0, 'Prediction': 0},
 'Test row 850': {'Actual': 0, 'Prediction': 1},
 'Test row 98': {'Actual': 0, 'Prediction': 0},
 'Test row 648': {'Actual': 1, 'Prediction': 1},
 'Test row 117': {'Actual': 0, 'Prediction': 0},
 'Test row 805': {'Actual': 1, 'Prediction': 1},
 'Test row 705': {'Actual': 1, 'Prediction': 1},
 'Test row 680': {'Actual': 0, 'Prediction': 0},
 'Test row 686': {'Actual': 1, 'Prediction': 1},
 'Test row 65': {'Actual': 1, 'Prediction': 1},
 'Test row 589': {'Actual': 0, 'Prediction': 0},
 'Test row 290': {'Actual': 0, 'Prediction': 0},
 'Test row 152': {'Actual': 0, 'Prediction': 0},
 'Test row 41': {'Actual': 0, 'Prediction': 1},
 'Test row 76': {'Actual': 0, 'Prediction': 0},
 'Test row 198': {'Actual': 0, 'Prediction': 1},
 'Test row 591': {'Actual': 0, 'Prediction': 0},
 'Test row 546': {'Actual': 1, 'Prediction': 1},
 'Test row 436': {'Actual': 0, 'Prediction': 0},
 'Test row 139': {'Actual': 0, 'Prediction': 0},
 'Test row 429': {'Actual': 1, 'Prediction': 1},
 'Test row 190': {'Actual': 0, 'Prediction': 0},
 'Test row 181': {'Actual': 0, 'Prediction': 0},
 'Test row 367': {'Actual': 1, 'Prediction': 1},
 'Test row 362': {'Actual': 0, 'Prediction': 0},
 'Test row 515': {'Actual': 1, 'Prediction': 1},
 'Test row 179': {'Actual': 0, 'Prediction': 0},
 'Test row 60': {'Actual': 1, 'Prediction': 1},
 'Test row 222': {'Actual': 0, 'Prediction': 0},
 'Test row 569': {'Actual': 1, 'Prediction': 1},
 'Test row 424': {'Actual': 1, 'Prediction': 1},
 'Test row 106': {'Actual': 1, 'Prediction': 0}}

## 2.4 Evaluating the K-NN model

Before computing the testing accuracy, we can calculate the baseline accuracy that can be achieved with this data. If we tally both classes (survived or not) and divide the max tally by the total number of classes, we can identify the minimum accuracy that can be achieved. In my randomized data, the baseline accuracy was 0.58192.

In [30]:
most_common = max([test_labels[test_labels==1].count(),test_labels[test_labels==0].count()])

baseline_acc = most_common/len(test_features)

baseline_acc

0.615819209039548

Evaluating the actual testing accuracy of this K-NN model using the ***evaluate_knn*** function previosuly defined.In my testing of the model, the model achieved an accuracy of 0.8248, which is a reasonably good level of accuracy.

In [31]:
evaluate_knn(knn_results)

0.8418079096045198

Plotting the confusion matrix using the ***confusion_matrix*** function previously defined:

In [32]:
confusion_matrix(knn_results)

The 177 cases from the testing feature data are represented in this confusion matrix. The rows correspond to the actual target label for these cases, while columns correspond to the predicted target label. A value of 0 means the person did not survive, while a value of 1 means they did survive. 

***Moving across the matrix:***

The first cell of the matrix [0,0] represents the number of cases the model predicted as 'not survived' when the actual target label was 'not survived'. This corresponds to a correct prediction. This number is the highest of all cells in the matrix, highlighting the model's superior ability to accurately predict those who did not survive.

The next cell of the matrix [0,1] represents the number of cases the model predicted as 'survived' when the actual target label was 'not survived'. This corresponds to an incorrect prediction.

The next cell of the matrix [1,0] represents the number of cases the model predicted as 'not survived' when the actual target label was 'survived'. This corresponds to an incorrect prediction. This number is the largest of both incorrect predictions in the matrix, meaning when the model was incorrect in its prediction, it was more likely predicting those who 'survived' as 'not survived'.

The last cell of the matrix [1,1] represents the number of cases the model predicted as 'survived' when the actual target label was 'survived'. This corresponds to a correct prediction. This number is significantly less than the other correctly predicted cases in the matrix [0,0], again highlighting the fact that the model was more capable of predicting those who did not survive.

**Note: values may differ across various test runs of the code.**

# Part 3 - Hyperparameters search

Testing possible k values:

In [33]:
hyperpar_res = []
possible_k = [1, 3, 5, 7, 9, 11]

for kval in possible_k:
    
    k_result = knn_fit(sc_train_feat, sc_test_feat, train_labels, test_labels, euclid_dists, k=kval)
    
    hyperpar_res.append(k_result)

for d in range(len(hyperpar_res)):
    print('%f testing accuracy with k = %i' % (evaluate_knn(hyperpar_res[d]), possible_k[d]))

0.824859 testing accuracy with k = 1
0.830508 testing accuracy with k = 3
0.841808 testing accuracy with k = 5
0.807910 testing accuracy with k = 7
0.824859 testing accuracy with k = 9
0.813559 testing accuracy with k = 11

Confusion matrix of results generated from K-NN with k = 5:

In [34]:
confusion_matrix(hyperpar_res[3])

Confusion matrix of results generated from K-NN with k = 11:

In [35]:
confusion_matrix(hyperpar_res[5])

In my particular testing of the model, the best accuracy value was achieved with a k value of 5 or 11 (tied value). From observing both confusion matrices, the performance of each is almost identical. In this case I would choose the lower k value of 5, as it achieves the same accuracy as k = 11. A k value of 5 appears to be large enough so as to avoid the influence of potential outliers that may present nearer to the target point. In addition, a k value of 5 is small enough so that it is not incorporating too many 'nearest' points, especially those that may actually be closer to other targets. 

In this test run, each of the k values (excluding 1) appear to perform quite similarly, meaning the optimal value of k in this case is only marginally improving on the other k values. Despite generating an accuracy of 0.774, it is clear that a k value of 1 is the worst choice of k, as it is just too small and is only considering one nearest neighbour, which is not enough to base an accurate prediction on.

# Part 4 - Weighted k-NN

Function for performing weighted k-NN. The distance weighted metric in this case is the inverse distance squared.

As we are dealing with a binary classification problem (0 or 1 label), we can just sum the weighted distances for each target label individually. The target label with the largest sum of weights will be the overall precition for a target row of testing data.

Also, as it is a weighted k-NN being performed, I have included an option for using 'all' points in the dataset instead of just k nearest neighbours. Points that are nearer to the target will be weighted the highest, while those further away will have very small weights, and little to no influence on the predicted outcome. Therefore, technically all points can be involved.

***Accounting for 0 distance:***

To account for two points potentially having 0 distance and to avoid a division by zero error, I have added a miniscule value (1e-7) onto the distance squared value within the weight computation. This will prevent any value of zero from occuring and thus there should be no division by zero.

In [36]:
# weighted_knn function
# Similar to knn_fit function from before
# Computes the predicted results from a dictionary of Euclidian distances.
# Calculates the inverse Euclidian distance squared.
# Sums these weighted distances for both target labels.
# Label corresponding to the maximum sum of weights = the predicted target label.
# Returns a dictionary containing the actual and predicted target label of each row.
# Default k set to 5, but can be changed and also set to 'all'.

def weighted_knn(train_feat, test_feat, train_labels, test_labels, euclid_dists, k=5):
    
    train_ind = index_dict(train_feat)
    test_ind = index_dict(test_feat)
    
    w_knn = {}

    for i in range(len(euclid_dists)):

        # for summing the weighted distances of each target label
        surv_sum = 0
        deceased_sum = 0
    
        w_knn['Test row ' + str(test_ind[i])] = {'Actual':test_labels[test_ind[i]]}

        # if all points are selected instead of just k nearest
        if k == 'all':
            k_nearest = euclid_dists[i].values()
        else:
            k_nearest = sorted(euclid_dists[i].values())[:k]
        
        for key, value in euclid_dists[i].items():
    
            if value in k_nearest:

                index = train_ind[key]

                # calculate the inverse weighted square + 1e-7
                w = 1/(value**2 + 0.0000001)         

                # if label is 1, add to survived sum of weights
                # otherwise add to deceased
                if train_labels[index] == 1:
                    surv_sum += w
                else:
                    deceased_sum += w

        # same as knn_fit
        if surv_sum > deceased_sum:
            w_knn['Test row ' + str(test_ind[i])]['Prediction'] = 1
        else:
            w_knn['Test row ' + str(test_ind[i])]['Prediction'] = 0
            
    return w_knn

In [37]:
w_knn = weighted_knn(sc_train_feat, sc_test_feat, train_labels, test_labels, euclid_dists, k=5)

# similar output as before
w_knn

{'Test row 405': {'Actual': 1, 'Prediction': 1},
 'Test row 792': {'Actual': 1, 'Prediction': 1},
 'Test row 303': {'Actual': 1, 'Prediction': 1},
 'Test row 15': {'Actual': 1, 'Prediction': 0},
 'Test row 430': {'Actual': 0, 'Prediction': 0},
 'Test row 673': {'Actual': 0, 'Prediction': 1},
 'Test row 803': {'Actual': 0, 'Prediction': 0},
 'Test row 363': {'Actual': 0, 'Prediction': 0},
 'Test row 445': {'Actual': 1, 'Prediction': 1},
 'Test row 710': {'Actual': 0, 'Prediction': 0},
 'Test row 336': {'Actual': 1, 'Prediction': 0},
 'Test row 341': {'Actual': 0, 'Prediction': 0},
 'Test row 865': {'Actual': 1, 'Prediction': 1},
 'Test row 787': {'Actual': 0, 'Prediction': 0},
 'Test row 776': {'Actual': 1, 'Prediction': 1},
 'Test row 163': {'Actual': 0, 'Prediction': 0},
 'Test row 554': {'Actual': 0, 'Prediction': 0},
 'Test row 800': {'Actual': 1, 'Prediction': 0},
 'Test row 328': {'Actual': 1, 'Prediction': 1},
 'Test row 156': {'Actual': 0, 'Prediction': 0},
 'Test row 592': {'Actual': 0, 'Prediction': 0},
 'Test row 251': {'Actual': 0, 'Prediction': 0},
 'Test row 231': {'Actual': 0, 'Prediction': 0},
 'Test row 433': {'Actual': 0, 'Prediction': 1},
 'Test row 3': {'Actual': 1, 'Prediction': 1},
 'Test row 89': {'Actual': 0, 'Prediction': 0},
 'Test row 143': {'Actual': 0, 'Prediction': 0},
 'Test row 364': {'Actual': 1, 'Prediction': 1},
 'Test row 255': {'Actual': 1, 'Prediction': 1},
 'Test row 48': {'Actual': 0, 'Prediction': 0},
 'Test row 745': {'Actual': 0, 'Prediction': 0},
 'Test row 346': {'Actual': 1, 'Prediction': 1},
 'Test row 530': {'Actual': 1, 'Prediction': 1},
 'Test row 764': {'Actual': 0, 'Prediction': 0},
 'Test row 356': {'Actual': 1, 'Prediction': 1},
 'Test row 699': {'Actual': 0, 'Prediction': 1},
 'Test row 58': {'Actual': 0, 'Prediction': 0},
 'Test row 693': {'Actual': 0, 'Prediction': 0},
 'Test row 688': {'Actual': 1, 'Prediction': 1},
 'Test row 493': {'Actual': 1, 'Prediction': 1},
 'Test row 815': {'Actual': 0, 'Prediction': 0},
 'Test row 283': {'Actual': 0, 'Prediction': 0},
 'Test row 659': {'Actual': 0, 'Prediction': 0},
 'Test row 526': {'Actual': 0, 'Prediction': 0},
 'Test row 635': {'Actual': 0, 'Prediction': 0},
 'Test row 37': {'Actual': 0, 'Prediction': 0},
 'Test row 826': {'Actual': 1, 'Prediction': 0},
 'Test row 11': {'Actual': 1, 'Prediction': 1},
 'Test row 199': {'Actual': 0, 'Prediction': 0},
 'Test row 647': {'Actual': 0, 'Prediction': 0},
 'Test row 628': {'Actual': 0, 'Prediction': 0},
 'Test row 331': {'Actual': 0, 'Prediction': 0},
 'Test row 46': {'Actual': 1, 'Prediction': 0},
 'Test row 71': {'Actual': 0, 'Prediction': 0},
 'Test row 183': {'Actual': 1, 'Prediction': 1},
 'Test row 263': {'Actual': 0, 'Prediction': 0},
 'Test row 817': {'Actual': 1, 'Prediction': 0},
 'Test row 168': {'Actual': 0, 'Prediction': 1},
 'Test row 278': {'Actual': 0, 'Prediction': 0},
 'Test row 419': {'Actual': 0, 'Prediction': 0},
 'Test row 721': {'Actual': 0, 'Prediction': 0},
 'Test row 506': {'Actual': 1, 'Prediction': 1},
 'Test row 683': {'Actual': 0, 'Prediction': 0},
 'Test row 40': {'Actual': 0, 'Prediction': 0},
 'Test row 80': {'Actual': 1, 'Prediction': 0},
 'Test row 33': {'Actual': 0, 'Prediction': 0},
 'Test row 450': {'Actual': 1, 'Prediction': 1},
 'Test row 132': {'Actual': 1, 'Prediction': 1},
 'Test row 695': {'Actual': 0, 'Prediction': 1},
 'Test row 120': {'Actual': 0, 'Prediction': 0},
 'Test row 261': {'Actual': 0, 'Prediction': 1},
 'Test row 31': {'Actual': 1, 'Prediction': 1},
 'Test row 718': {'Actual': 0, 'Prediction': 0},
 'Test row 681': {'Actual': 0, 'Prediction': 0},
 'Test row 398': {'Actual': 1, 'Prediction': 0},
 'Test row 833': {'Actual': 0, 'Prediction': 0},
 'Test row 886': {'Actual': 0, 'Prediction': 0},
 'Test row 114': {'Actual': 0, 'Prediction': 0},
 'Test row 472': {'Actual': 0, 'Prediction': 0},
 'Test row 846': {'Actual': 0, 'Prediction': 0},
 'Test row 437': {'Actual': 1, 'Prediction': 1},
 'Test row 503': {'Actual': 1, 'Prediction': 1},
 'Test row 420': {'Actual': 0, 'Prediction': 0},
 'Test row 864': {'Actual': 0, 'Prediction': 0},
 'Test row 788': {'Actual': 0, 'Prediction': 0},
 'Test row 373': {'Actual': 1, 'Prediction': 1},
 'Test row 246': {'Actual': 1, 'Prediction': 1},
 'Test row 259': {'Actual': 1, 'Prediction': 0},
 'Test row 485': {'Actual': 0, 'Prediction': 0},
 'Test row 842': {'Actual': 0, 'Prediction': 0},
 'Test row 332': {'Actual': 1, 'Prediction': 1},
 'Test row 860': {'Actual': 0, 'Prediction': 0},
 'Test row 784': {'Actual': 1, 'Prediction': 1},
 'Test row 142': {'Actual': 0, 'Prediction': 0},
 'Test row 870': {'Actual': 1, 'Prediction': 1},
 'Test row 527': {'Actual': 1, 'Prediction': 1},
 'Test row 126': {'Actual': 1, 'Prediction': 0},
 'Test row 759': {'Actual': 1, 'Prediction': 1},
 'Test row 816': {'Actual': 1, 'Prediction': 1},
 'Test row 733': {'Actual': 1, 'Prediction': 1},
 'Test row 544': {'Actual': 1, 'Prediction': 0},
 'Test row 417': {'Actual': 0, 'Prediction': 1},
 'Test row 480': {'Actual': 1, 'Prediction': 0},
 'Test row 240': {'Actual': 1, 'Prediction': 0},
 'Test row 92': {'Actual': 0, 'Prediction': 0},
 'Test row 557': {'Actual': 0, 'Prediction': 0},
 'Test row 667': {'Actual': 1, 'Prediction': 1},
 'Test row 547': {'Actual': 1, 'Prediction': 1},
 'Test row 622': {'Actual': 0, 'Prediction': 0},
 'Test row 863': {'Actual': 0, 'Prediction': 0},
 'Test row 277': {'Actual': 1, 'Prediction': 0},
 'Test row 634': {'Actual': 0, 'Prediction': 0},
 'Test row 786': {'Actual': 0, 'Prediction': 0},
 'Test row 377': {'Actual': 0, 'Prediction': 0},
 'Test row 742': {'Actual': 0, 'Prediction': 0},
 'Test row 72': {'Actual': 0, 'Prediction': 0},
 'Test row 571': {'Actual': 0, 'Prediction': 0},
 'Test row 545': {'Actual': 0, 'Prediction': 0},
 'Test row 111': {'Actual': 0, 'Prediction': 0},
 'Test row 308': {'Actual': 1, 'Prediction': 1},
 'Test row 565': {'Actual': 0, 'Prediction': 0},
 'Test row 732': {'Actual': 0, 'Prediction': 0},
 'Test row 0': {'Actual': 0, 'Prediction': 0},
 'Test row 845': {'Actual': 1, 'Prediction': 1},
 'Test row 349': {'Actual': 0, 'Prediction': 1},
 'Test row 619': {'Actual': 1, 'Prediction': 0},
 'Test row 497': {'Actual': 0, 'Prediction': 0},
 'Test row 42': {'Actual': 1, 'Prediction': 1},
 'Test row 821': {'Actual': 0, 'Prediction': 0},
 'Test row 670': {'Actual': 1, 'Prediction': 0},
 'Test row 484': {'Actual': 0, 'Prediction': 0},
 'Test row 26': {'Actual': 0, 'Prediction': 0},
 'Test row 100': {'Actual': 0, 'Prediction': 0},
 'Test row 810': {'Actual': 0, 'Prediction': 0},
 'Test row 27': {'Actual': 0, 'Prediction': 0},
 'Test row 481': {'Actual': 1, 'Prediction': 0},
 'Test row 157': {'Actual': 0, 'Prediction': 0},
 'Test row 791': {'Actual': 0, 'Prediction': 0},
 'Test row 579': {'Actual': 0, 'Prediction': 0},
 'Test row 383': {'Actual': 0, 'Prediction': 0},
 'Test row 402': {'Actual': 0, 'Prediction': 0},
 'Test row 455': {'Actual': 1, 'Prediction': 0},
 'Test row 511': {'Actual': 0, 'Prediction': 0},
 'Test row 572': {'Actual': 0, 'Prediction': 0},
 'Test row 611': {'Actual': 0, 'Prediction': 0},
 'Test row 633': {'Actual': 0, 'Prediction': 0},
 'Test row 850': {'Actual': 0, 'Prediction': 1},
 'Test row 98': {'Actual': 0, 'Prediction': 0},
 'Test row 648': {'Actual': 1, 'Prediction': 1},
 'Test row 117': {'Actual': 0, 'Prediction': 0},
 'Test row 805': {'Actual': 1, 'Prediction': 1},
 'Test row 705': {'Actual': 1, 'Prediction': 1},
 'Test row 680': {'Actual': 0, 'Prediction': 0},
 'Test row 686': {'Actual': 1, 'Prediction': 1},
 'Test row 65': {'Actual': 1, 'Prediction': 1},
 'Test row 589': {'Actual': 0, 'Prediction': 0},
 'Test row 290': {'Actual': 0, 'Prediction': 0},
 'Test row 152': {'Actual': 0, 'Prediction': 0},
 'Test row 41': {'Actual': 0, 'Prediction': 1},
 'Test row 76': {'Actual': 0, 'Prediction': 0},
 'Test row 198': {'Actual': 0, 'Prediction': 1},
 'Test row 591': {'Actual': 0, 'Prediction': 0},
 'Test row 546': {'Actual': 1, 'Prediction': 1},
 'Test row 436': {'Actual': 0, 'Prediction': 0},
 'Test row 139': {'Actual': 0, 'Prediction': 0},
 'Test row 429': {'Actual': 1, 'Prediction': 1},
 'Test row 190': {'Actual': 0, 'Prediction': 0},
 'Test row 181': {'Actual': 0, 'Prediction': 0},
 'Test row 367': {'Actual': 1, 'Prediction': 1},
 'Test row 362': {'Actual': 0, 'Prediction': 0},
 'Test row 515': {'Actual': 1, 'Prediction': 1},
 'Test row 179': {'Actual': 0, 'Prediction': 0},
 'Test row 60': {'Actual': 1, 'Prediction': 1},
 'Test row 222': {'Actual': 0, 'Prediction': 0},
 'Test row 569': {'Actual': 1, 'Prediction': 0},
 'Test row 424': {'Actual': 1, 'Prediction': 1},
 'Test row 106': {'Actual': 1, 'Prediction': 0}}

Evaluating the accuracy of weighted k-NN with different values for k, and comapring these values to the accuracy achieved with the original k-NN model.

In [38]:
weight_res = []
original_res = []
possible_k = [1, 3, 5, 7, 9, 11, 13, 15] # try some new k values

for k in possible_k:
    
    # compute original and weighted results
    wknn_result = weighted_knn(sc_train_feat, sc_test_feat, train_labels, test_labels, euclid_dists, k=k)
    knn_result = knn_fit(sc_train_feat, sc_test_feat, train_labels, test_labels, euclid_dists, k=k)
    
    weight_res.append(wknn_result)
    original_res.append(knn_result)

# evaluate both original and testing accuracy 
for d in range(len(weight_res)):
    print('%f Weighted testing accuracy with k = %s' % (evaluate_knn(weight_res[d]), str(possible_k[d])))
    print('%f Original testing accuracy with k = %i' % (evaluate_knn(original_res[d]), possible_k[d]))
    print()

# testing all points as k in the weighted model
wknn_all = weighted_knn(sc_train_feat, sc_test_feat, train_labels, test_labels, euclid_dists, k='all')
print('%f Weighted testing accuracy with k = all' % (evaluate_knn(wknn_all)))

0.824859 Weighted testing accuracy with k = 1
0.824859 Original testing accuracy with k = 1

0.813559 Weighted testing accuracy with k = 3
0.830508 Original testing accuracy with k = 3

0.824859 Weighted testing accuracy with k = 5
0.841808 Original testing accuracy with k = 5

0.824859 Weighted testing accuracy with k = 7
0.807910 Original testing accuracy with k = 7

0.836158 Weighted testing accuracy with k = 9
0.824859 Original testing accuracy with k = 9

0.830508 Weighted testing accuracy with k = 11
0.813559 Original testing accuracy with k = 11

0.836158 Weighted testing accuracy with k = 13
0.813559 Original testing accuracy with k = 13

0.836158 Weighted testing accuracy with k = 15
0.790960 Original testing accuracy with k = 15

0.807910 Weighted testing accuracy with k = all

In my test run of the model:

The weighted k-KNN model does not outperform the original model when both have k = 5. However, when k=11 the weighted k-NN model outperforms the original model at k = 7, 9, 11, 13 and 15, suggesting that the weighted model performs slightly better than the original at higher values of k. 

The maximum accuracy was achieved with the weighted model, with a value of 0.830508 at k = 11, 13 and 15. The testing accuracy evidently plateaud across these values, but could maybe be slighlty improved upon at higher values.

Interestingly, when incorporating all values in the dataset as k, the accuracy decreases to 0.813559. 

***Again note these results may differ across different test runs due to randomization of the data at the start. The model does not take long to run so one can run it again if they please and check other possible results.***